<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>43c</title>

    <link rel="icon" type="image/x-icon" href="img/test_image.png">

    {% block head %}
      <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
    
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-2L3F7E510Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2L3F7E510Q');
    </script> -->

  </head>

  <div class="container">
    <header>
      <h1>Your Website Name</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Join</a></li>
        </ul>
    </nav>

    <section>
      <div class="vertical-images">
        <img src="{{ url_for('static', filename='img/pixel_bar.gif') }}" alt="Skinny Image 1">
      </div>

      <div class="left-column">
          <img src="{{ url_for('static', filename='img/image1.png') }}" alt="Image">
      </div>
      <div class="right-column">
          <h2>Wisp shooting</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu ut aliquip ex ea comDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          <button>CTA</button>
      </div>

      <div class="vertical-images">
        <img src="{{ url_for('static', filename='img/pixel_bar.gif') }}" alt="Skinny Image 2">
      </div>

    </section>
  </div>
    
    {% block body %}{% endblock %}

    <script>
    </script>
  </body>
</html>